* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100%;
  font-family: sans-serif;
  background-color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.plantilla-img {
  width: 100vw;       /* Asegura ancho completo en móvil */
  height: auto;
  display: block;
  flex-grow: 1;
}

/* FOOTER */
.footer {
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 18px;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .footer {
    font-size: 14px;
    padding: 15px 5px;
  }
}
